.main {
    padding: 248px 0px 140px;
    background: url("../../img/Section_1_BG_Shape.svg") 0 148px/cover no-repeat;
}

.main__container {
    display: flex;
}

.main__content {
    width: 50%;
    padding-top: 59px;
}

.main__title {
    font-size: 60px;
    letter-spacing: 1.8px;
    color: #08090A;
    margin-bottom: 26px;
}

.main__title span {
    color: #35B8BE;
}

.main__text {
    max-width: 540px;
    line-height: 24.1px;
    letter-spacing: 0.36px;
    margin-bottom: 53px;
}

.source__name {
    display: block;
    margin-bottom: 8px;
    font-size: 0px;
}

.source__name img:hover {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
}

.source__score {
    font-size: 16px;
    line-height: 20px;
    color: #08090A;
}

.source__score span {
    color: #35B8BE;
}

.main__photo {
    width: 50%;
}

/* ------------------- */
/* ------------------- */

@media (max-width: 1230px) {
    .main__photo img {
        width: 100%;
        display: block;
    }
}

/* ------------------- */

@media (max-width: 1023px) {
    .main {
        padding: 198px 0px 70px;
    }

    .main__container {
        flex-wrap: wrap-reverse;
        justify-content: center; 
    }

    .main__content {
        flex-basis: 65%;
        text-align: center;
        padding-top: 43px;
    }

    .main__text {
        margin: 0 auto 47px;
    }

    .main__title {
        font-size: 43px;
    }
}

/* ------------------- */

@media(max-width: 767px) {
    .main {
        padding: 150px 0px 50px;
        background-position: 0 100px;
    }

    .main__title {
        font-size: 40px;
    }

    .main__photo {
        width: 75%;
        margin-left: 115px;
    }
}

/* ------------------- */

@media(max-width: 490px) {
    .main {
        padding-top: 50px;
        background-position: 0 0;
    }

    .main__photo {
        margin-left: 100px;
    }
}

/* ------------------- */

@media(max-width: 400px) {
    .main__photo {
        margin-left: 65px;
    }
}