.how {
    padding-top: 131px;
    padding-bottom: 120px;
}

.how__title {
    text-align: center;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 66px;
}

.how__items {
    display: flex;
    gap: 100px;
}

/* ------------------- */
/* ------------------- */

@media (max-width: 1230px) {
    .how__items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}

/* ------------------- */

@media (max-width: 1023px) {
    .how {
        padding: 70px 0px;
    }

    .how__title {
        font-size: 40px;
        max-width: 100%;
        margin-bottom: 40px;
    }
}

/* ------------------- */

@media(max-width: 767px) {
    .how {
        padding: 50px 0px;
    }

    .how__title {
        font-size: 36px;
    }

    .how__items {
        gap: 40px;
    }
}

/* ------------------- */

@media(max-width: 400px) {
    .how__title {
        font-size: 30px;
        line-height: 50px;
    }
}